<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.prod.dao.ProdMapper">
	<resultMap type="ProdVO" id="prodMap" autoMapping="true">
		<association property="lprod" javaType="LprodVO" autoMapping="true"/>
		<association property="buyer" javaType="BuyerVO" autoMapping="true" />
	</resultMap>
	<!--from 중복 해결  -->
	<sql id="fromFrag">
		FROM PROD P INNER JOIN LPROD LP ON(P.LPROD_GU = LP.LPROD_GU)
					INNER JOIN BUYER B ON(P.BUYER_ID = B.BUYER_ID) 
	</sql>
	<sql id="searchFrag">
		<where>
			<!-- OGNL 방식으로 비교해야함  -->
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(simpleCondition.searchWord)">
				<choose>
					<when test="simpleCondition.searchType eq 'lprod'">
						INSTR(LPROD_NM, #{simpleCondition.searchWord}) > 0
					</when>
					<when test="simpleCondition.searchType eq 'buyer'">
						INSTR(BUYER_NAME, #{simpleCondition.searchWord}) > 0
					</when>
					<when test="simpleCondition.searchType eq 'name'">
						INSTR(PROD_NAME, #{simpleCondition.searchWord}) > 0
					</when>
					<otherwise>
						INSTR(LPROD_NM, #{simpleCondition.searchWord}) > 0	
						OR
						INSTR(BUYER_NAME, #{simpleCondition.searchWord}) > 0
						OR
						INSTR(PROD_NAME, #{simpleCondition.searchWord}) > 0
					</otherwise>
				</choose>
			</if>
		</where>	
	</sql>
	<select id="selectTotalRecord" resultType="int">
		SELECT COUNT(*)
		<include refid="fromFrag" />
		<include refid="searchFrag"/>
	</select>
	
	<select id="selectProdList" resultMap="prodMap" >
		SELECT A.*
		FROM(  
		    SELECT  ROWNUM RNUM, 
				    PROD_ID,
				    PROD_NAME,
				    P.LPROD_GU, LPROD_NM,
				    P.BUYER_ID, BUYER_NAME,
				    PROD_COST,
				    PROD_PRICE,  
				    PROD_TOTALSTOCK,    
				    PROD_MILEAGE
				<include refid="fromFrag"/>
				<include refid="searchFrag"/>
		)    A     
		<![CDATA[
			WHERE RNUM >= #{startRow} AND RNUM <= #{endRow}
		]]>

	</select>
	
	<select id="selectProd" resultType="ProdVO">
		SELECT
		    PROD_ID,
		    PROD_NAME,
		    LPROD_GU,
		    BUYER_ID,
		    PROD_COST,
		    PROD_PRICE,
		    PROD_SALE,
		    PROD_OUTLINE,
		    PROD_DETAIL,
		    PROD_IMG,
		    PROD_TOTALSTOCK,
		    TO_CHAR(PROD_INSDATE, 'YYYY-MM-DD') AS PROD_INSDATE,
		    PROD_PROPERSTOCK,
		    PROD_SIZE,
		    PROD_COLOR,
		    PROD_DELIVERY,
		    PROD_UNIT,
		    PROD_QTYIN,
		    PROD_QTYSALE,
		    PROD_MILEAGE
		FROM
		    PROD
		WHERE 
		    PROD_ID = #{prodId}
	
	</select>
	
</mapper>