<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<display-name>WebStudy01</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- initParameter를 호출하기 위한 매핑 -> 디렉토리 지정 -->
	<context-param>
		<param-name>mediasFolder</param-name>
		<param-value>D:/00.medias/</param-value>
	</context-param>
	<servlet>
		<servlet-name>DescriptionServlet</servlet-name>
		<servlet-class>kr.or.ddit.servlet01.DescriptionServlet</servlet-class>
		<init-param>
			<param-name>param1</param-name>
			<param-value>VALUE2</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DescriptionServlet</servlet-name>
		<url-pattern>/desc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServerTimeServlet</servlet-name>
		<servlet-class>kr.or.ddit.servlet02.ServerTimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServerTimeServlet</servlet-name>
		<url-pattern>/02/now.do</url-pattern>
	</servlet-mapping>
</web-app>








